* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito';
}

body,
html {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  font-weight: 500;
}

*:focus {
  outline: none;
}

@font-face {
  font-family: "Nunito";
  src: url("/fonts/NunitoSans-Regular.ttf");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

*::-webkit-scrollbar{
  width: 0.4em;
}

*::-webkit-scrollbar-track{
  -webkit-box-shadow: inset 0 0 6px #0E0F0F;
  box-shadow: inset 0 0 6px #0E0F0F;
}

*::-webkit-scrollbar-thumb{
  background-color: #464648;
  outline: 1px solid #222223;
  border-radius: 10px;
  cursor:pointer;
}

@font-face {
  font-family: "Aileron";
  src: url("/fonts/Aileron-Bold.otf");
  font-style: bold;
  font-weight: 600;
  font-display: swap;
}